<button (click) = "bannerActive()">{{bannerValue ? true : false}} Banner</button>


<div bannerMessage class="alert alert-success alert-dismissible" *ngIf = "bannerValue">
  <a closeButton class="close" data-dismiss="alert" aria-label="close" (click)="closeBanner()" >&times;*</a>
  <strong>Success!</strong> your order has been placed
</div>

<!-- <div class="vc_row element-row row vc_custom_1478727859541">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="wpb_wrapper">
      <div class="fw-section hb-fw-599b22a654ae9 without-border no-overlay light-style" 
      style="background-color:#000000;
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==);background-size:cover;    background-position-x: 10px;
      background-position-y: center;
      height: 300px;
      padding-top:30px;
      padding-bottom:100px;">
        <div class="row fw-content-wrap">
          <div class="col-12 nbm">
            <div id="learning-automated-div" style="text-align: center; font-size: 48px; line-height: 52px; padding: 100px 5px 10px 5px;">
              <span style="color:#FFFFFF;">WELCOME!</span>
            </div>

            <div style="text-align: center; font-size: 18px; line-height: 22px; padding: 0 5px 40px 5px;">
              <span style="color:#FFFFFF;">Click below to navigate to:</span>
            </div>

            <div style="text-align: center;">
              <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                <tbody>
                  <tr>
                    <td>
                      <a href="https://yourcompany.litmos.com/courses/library">
                        <span style="color:#FFFF00;">
                          <span style="font-size:28px;">Course Library</span>
                        </span>
                      </a>
                    </td>
                    <td>
                      <a href="https://yourcompany.litmos.com/achievements">
                        <span style="color:#FFFF00;">
                          <span style="font-size:28px;">Achievements</span>
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              ​&nbsp;</div>
          </div>
        </div>

        <div class="video-overlay no-overlay">&nbsp;</div>
      </div>
    </div>
  </div>
</div> -->